.reviewList {
  border-radius: 8px;
  padding: 20px;
  margin: 20px 120px 0px 120px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.reviewList h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.reviewItem {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  transition: box-shadow 0.2s ease;
}

.reviewItem:hover {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.reviewItem p {
  margin: 5px 0;
  color: #555;
}

.reviewItem strong {
  color: #333;
}

.replySection {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.replySection h4 {
  margin-bottom: 10px;
  color: #333;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  resize: none;
  font-size: 14px;
}

textarea:focus {
  outline: none;
  border-color: #007bff;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.replies {
  margin-top: 10px;
}

.replyItem {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
}

.replyItem p {
  margin: 0;
}

.star {
  font-size: 20px;
  color: #ccc;
}

.star.filled {
  color: #ffc107;
}

.purchasedLabel {
  background-color: #048b0d;
  padding: 2px 15px;
  font-weight: bold;
  margin-left: 5px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}

.purchasedLabelFalse {
  background-color: rgb(206, 32, 32);
  padding: 2px 15px;
  font-weight: bold;
  margin-left: 5px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}
